* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ecf0f1;
    color: #2c3e50;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}


.nav a {
    font-size: 20px;
    text-decoration: none;
    color: #ecf0f1;
    transition: color 0.3s ease;
}

.nav a:hover {
    text-decoration: underline;
    color: #18bc9c;
}


.main {
    padding: 2rem;
    background-color: #ecf0f1;
}

.intro h1 {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #34495e;
    background-color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.column p {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.column.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.column.middle {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.column.middle img {
    width: 30%; 
    max-height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.column.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.column a {
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #18bc9c;
    color: #ffffff;
    border: 3px solid #2c3e50;
    border-radius: 50px;
    cursor: pointer;
}

.column a:hover {
    background-color: #e74c3c;
}

.portfolio {
    width: 100;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #ffffff;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #34495E;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.project h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #222;
}

.cv-main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1.5em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.2em;
    color: #34495e;
    text-align: center;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.8em;
    color: #2c3e50;
    border-bottom: 2px solid #34495e;
    padding-bottom: 0.3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* stil pentru lista */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    line-height: 1.5;
    color: #333;
}

ul li strong {
    color: #2c3e50;
}

ul li ul {
    margin-left: 1.5em;
}

ul li ul li {
    margin-bottom: 0.3em;
    color: #555;
}

/* stil pentru butonul de descarcare */
section a {
    display: inline-block;
    text-decoration: none;
    background-color: #00d65d;
    color: #ffffff;
    padding: 0.7em 1.2em;
    border-radius: 5px;
    margin-top: 2em;
    font-weight: bold;
    transition: background-color 0.3s;
}

section a:hover {
    background-color: #0056d6;
}

/* stil pentru secțiunea principala */
.contact-main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1.5em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* stil pentru formularul de contact */
.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: calc(33.3% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.contact-form textarea {
    width: 100%;
    resize: vertical;
    min-height: 100px;
}

.contact-form button {
    background-color: #00d65d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #0040b3;
}

/* stil pentru sectiunea cu detalii de contact */
.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.details-info {
    flex: 1;
}

.details-info p {
    line-height: 1.7;
}

.details-info a {
    color: #0056d6;
    text-decoration: none;
}

.details-info a:hover {
    color: #d60004;
}

/* integrare harta */
.map {
    flex: 1;
    min-width: 300px;
}

.map iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

/* Stiluri pentru titluri principale */
.bio-title h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

.section h2 {
    margin: 40px 0 20px 0;
    text-align: center;
}

/* Stiluri pentru secțiunile de biografie */
.section {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    padding: 0 150px;
}

.section img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

/* Secțiunea 1: Text stânga, imagine dreapta */
.section-1 {
    flex-direction: row; /* text stânga, imagine dreapta */
}

.section-1 img {
    order: 2;
}

/* Secțiunea 2: Text dreapta, imagine stânga */
.section-2 {
    flex-direction: row-reverse; /* text dreapta, imagine stânga */
}

.section-2 img {
    order: 1;
}

/* Secțiunea 3: Text stânga, imagine dreapta */
.section-3 {
    flex-direction: row; /* text stânga, imagine dreapta */
}

.section-3 img {
    order: 2;
}

/* Secțiunea 4: Text dreapta, imagine stânga */
.section-4 {
    flex-direction: row-reverse; /* text dreapta, imagine stânga */
}

.section-4 img {
    order: 1;
}

/* Stiluri suplimentare pentru text */
.section p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 600px;
    margin: 0 auto;
}

img {
    border-radius: 8px;
}

/* Media queries pentru dispozitive mobile */
@media (max-width: 768px) {

    .nav {
        display: flex; /* Use flexbox for the nav */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        width: 100%;
    }
    
    .nav ul {
        display: flex; /* Use flexbox for the nav */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
    }

    .nav ul li {
        text-align: center;
    }
    

    .section {
        flex-direction: column;
        text-align: center;
        padding: 0 20px; /* Ajustează padding-ul pentru a evita marginile prea mari */
    }

    .section img {
        width: 100%; /* Asigură-te că imaginile se redimensionează corespunzător */
        height: auto; /* Păstrează proporțiile imaginilor */
        margin: 20px 0; /* Adaugă un spațiu între imagine și text */
    }

    .column.left, .column.middle, .column.right {
        width: 100%; /* Fă coloanele să ocupe 100% din lățimea ecranului */
    }

    .column.left, .column.right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column.left p, .column.right p {
        font-size: 20px;
        text-align: center;
    }

    .contact-form input, .contact-form textarea {
        width: 100%; /* Asigură-te că input-urile ocupă întreaga lățime */
    }

    .contact-form input {
        margin-bottom: 15px; /* Adaugă un spațiu între input-uri */
    }
}